
.main_header_img{
  background-position: right 0px;
  background-image: url("../img/vekkit-smart-ebike.jpg");
  height: 800px; /* You must set a specified height */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 840px) {
  .main_header_img{
    background-position: center;
    background-image: url("../img/vekkit-header-back-image.jpg");
    height: 800px; /* You must set a specified height */
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.city_header_img{
  background-position: right 0px;
  background-image: url("../img/kits/smart-city-wireless-electric-bicycles.jpg");
  height: 800px; /* You must set a specified height */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 840px) {
  .city_header_img{
    background-position: center;
    background-image: url("../img/kits/smart-city-wireless-electric-bicycles.jpg");
    height: 800px; /* You must set a specified height */
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.folding_header_img{
  background-position: right 0px;
  background-image: url("../img/folding-bicycle-electric-conversion-kit.jpg");
  height: 800px; /* You must set a specified height */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
@media only screen and (max-width: 840px) {
  .folding_header_img{
    background-position: center;
    background-image: url("../img/folding-bicycle-electric-conversion-kit.jpg");
    height: 800px; /* You must set a specified height */
    background-size: cover;
    background-repeat: no-repeat;
  }
}

p{
  color: black;
}

.main_header_title{
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 43px;
  color: #fff;
  letter-spacing: 5px;
  text-align: center;
  line-height: 41px;
  padding-top:200px;
  max-width: 450px;
  padding-left: 40px;
  padding-right: 40px;
}

.main_header_subtitle{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  max-width: 450px;
  padding-left: 40px;
  padding-right: 40px;
}

.main_header_button_container{
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.main_create_story{
  border-width: 2px;
  border-color: #000;
  font-size: 16px;
  min-width: 150px;
  height: 50px;
  line-height: 37px;
}

.main_show_popular{
  font-size: 16px;
  min-width: 150px;
  height: 50px;
  line-height: 37px;
}

.how_it_works{
  background-color: #fff;
}

.step1-img{
  margin-left: -25%;
}

.step2-img{
  margin-right: -35%;
}

.step3-img{
  margin-left: -25%;
}

.stories{
  background-color: #F7F7F7;
  padding-bottom: 50px;
}

.section_title{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #292929;
  letter-spacing: 0;
  text-align: center;
  line-height: 41px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.section_subtitle{
  margin-top: -20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #292929;
  letter-spacing: 0;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}


.home_popular_cards{
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;

}

.pricing-items{
  padding-top: 30px;
}

.pricing_list{
  list-style: none;
  margin: auto;
  padding-top: 20px;
}

.pricing_item{
  line-height: 20px;
  text-align: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.pricing_title{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #292929;
  letter-spacing: 0;
  text-align: center;
}

.pricing_amount{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: #669BBC;
  letter-spacing: 0;
  text-align: center;
}

.pricing_month{
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #292929;
  letter-spacing: 0;
  margin-top: -10px;
  text-align: center;
  opacity: 0.6;
}

/*NavBar*/
.navbar-section{
  background-color: #F3F3F3;
}

.lang-menu-item{
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}
.padding-left{
  padding-left: 20px;
}
.padding-right{
  padding-right: 20px;
}
.padding-bottom{
  padding-bottom: 20px;
}
.logo{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: #F3F3F3;
}

.navbar-center{
  background-color: #F3F3F3;
}

.rounded{
  border-radius: 50px;
}

.height60{
  height: 60px;
}

.home_header{
  width: 100%;
  height: 500px;
}

.form-select{
    border-radius: 5px;
    border-color: #FFFFFF;
}

.form_input{
  border-radius: 5px;
  border-color: #FFFFFF;
}

#top-video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: auto;
  overflow: hidden;
  overflow-x: hidden;
}

.stories-video{
  object-fit: cover;
}

.btn{
  padding-top: 8px;
  border: .0rem solid #5755d9;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.how_it_works_title{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.how_it_works_subtitle{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-top: 10px;
}

.how_it_works_text_container{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.circle_list_container {
  text-align: center;
  height: 100%;
  padding: 10px 0;
}

.circle_list {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  background: #000
}

/*Stroeis*/
.story_preview{
  max-height: 400px;
}

.stories_content{
  top: 40px;
  margin-bottom: 40px;
  bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;

}

.strory_image{
  max-height: 400px;
}

.slick-prev:before, .slick-next:before {
    color:black !important;
}

.num_sections{
  background-color: #fff;
}

/*Team*/

.team{
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;

}

.team_member_photo{
  margin-top: 40px;
  width: 120px;
  height: 120px;
}

.team_member_title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-align: center;
  margin-top: 40px;
}

.team_member_subtitle {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  text-align: center;
}

/*Order*/

.button-with-border{
  border: 2px solid #fff;
  border-radius: 20px;
  height: 40px;
  min-width: 140px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.rounded-white-button{
  border: 2px solid #fff;
  border-radius: 20px;
  height: 40px;
  min-width: 140px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.rounded-black-button{
  border: 2px solid #000;
  border-radius: 20px;
  height: 40px;
  min-width: 140px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.configurator_container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 15%;
  max-width: 300px;
  text-align: center;
}

.order_gallery {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  margin-top: 5%;
  margin-bottom: 5%;

}

/* Stats*/
.stats{
    margin-top: -20px;
    padding-top: 40px;
    background-color: #F7F7F7;
}

.stats-item{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.stats-title{
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.stats-subtitle{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #rgb(20, 20, 20);
}

/*For which bikes section*/

.for-which-bikes{
  background-color: #F7F7F7;
}

.bike-items-container{
  margin-left: 50px;
  margin-right: 50px;
}

.bike-item{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  min-height: 350px;
}

@media only screen and (max-width: 1040px) {
  .bike-item{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    min-height: 350px;
  }
}

@media only screen and (max-width: 540px) {
  .bike-items-container{
    margin-left: 25px;
    margin-right: 25px;
  }
}

.bike-item-image{
}

.bike-item-title{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.bike-item-subtitle{
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #rgb(20, 20, 20);
}

.small-rounded-black-button{
  border: 2px solid #000;
  border-radius: 20px;
  height: 30px;
  min-width: 100px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
}

/* Shop section */
.shop{
  background-color: #F7F7F7;
}

/* Tech details */

.tech-details-table-container{
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 50px;
}

.cell-title{
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

.cell-text{
  text-align: right;
  font-size: 16px;
  font-weight: 300;
}

/*Footer*/
.footer{
  background-color: #30323D;
}

.footer-links-container{
  margin-left:20px;
  margin-top:30px;
  margin-bottom:30px;

}

.footer-links-title{
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  margin-left:20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-link{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin-left:20px;
  margin-top: 10px;
}

.footer-copywrite{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin-left:20px;
  margin-top: 10px;
}

a:hover{
  text-decoration: none;
}

/* Custom pages */
.breadcrumb-md-page{
  margin: 40px;
}
.content{
  margin: 50px;
  font-size: 18px;
}
.content{
  margin-left: 80px;
  margin-top: 30px;
  font-size: 18px;
}

p.content{
  font-size: 16px;
}

/*Social*/
.social{
  margin-bottom: 40px;
}
.social-img{
  margin: 10px;
}

/* FAQ*/
.faq{
  background-color: #F7F7F7;
  padding-bottom: 80px;
}
.icon-arrow-right{
  color: black;
}

.question{
  font-size: 18px;
  font-weight: 700;
}

.answer{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

/*Docs*/
.docs-side-menu-container{
}

.docs-side-menu{
  text-align: center;
}

.docs-side-menu-item{
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  font-weight: 400;
  margin-left: 20px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  color: #707070;
}

.docs-side-menu-item:hover {
  //background-color: #3A3F4D;
  color:#000;
  cursor: pointer;
}

.selected-doc{
  background-color: #F8F8F8;
  color:#000;
  font-weight: 500;
}

.doc-content{
  padding: 50px;
  font-weight: 300;
}

.doc-header{
  font-size: 25px;
  padding-bottom: 30px;
}

.support-menu-item{

}

.market_buttons{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.play_btn{
  width: 150px;
  height: 60px;
  text-align: center;
}

.appstore_btn{
  padding-left: 7px;
  width: 150px;
  height: 60px;
  text-align: center;
}

.story_title{
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.story_subtitle{
  margin-top: -15px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
}

/*Order status */

.gray::after{
  color: #F3F3F3;
}

.segmented-control {
    display: table;
    width: 100%;
    margin: 2em 0;
    padding: 0;
    text-align: center;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.segmented-control__input {
    position: absolute;
    visibility: hidden;
}

.segmented-control__label {
    display: block;
    margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
    padding: 1em .25em;

    border: 1px solid #ddd;

    font: 14px/1.5 sans-serif;
    text-align: center;

    cursor: pointer;
}

.segmented-control__label:hover {
    background: #fafafa;
}

.segmented-control__input:checked + .segmented-control__label {
    background: #eee;
    color: #333;
}
